# Options +MultiViews
RewriteEngine On
RewriteRule "^(da|en|sv|no|nb|de|fr|es|ru|be|fi|pl|xx)/(.*)" "/$2"

ErrorDocument 404 /error/404magic.php
php_flag register_globals off
AddDefaultCharset utf-8

Redirect /gfx/english /gfx/scenarie/english

<FilesMatch "\.(inc|tpl)$">
        deny from all
        allow from none
</FilesMatch>

# redirects for convenience
Redirect /otto /awards?cid=1

RedirectPermanent /dk /da
RedirectPermanent /se /sv
RedirectPermanent /us /en
RedirectPermanent /uk /en
RedirectPermanent /gb /en
RedirectPermanent /no /nb



<Files ~ "^apple-touch-icon">
	deny from all
</Files>

<Files "wp-login.php">
        deny from all
</Files>
	
