# Options +MultiViews
RewriteEngine On
RewriteRule "^(da|en|sv|nb|de|fi|fr|es|ru|be|pl|it|ar|zh|ja|he|fo|kl|hi|tl|sa|ta|bn|nv|cr|oj|xx)/(.*)" "/$2" [END]
# [END] is to prevent URLs such as /da/en/en/da/todo

ErrorDocument 404 /error/404magic.php
AddDefaultCharset utf-8

Redirect /gfx/english /gfx/scenarie/english

<FilesMatch "\.(inc|tpl)$">
        deny from all
        allow from none
</FilesMatch>

# redirects for convenience
Redirect /otto /awards?cid=1

RedirectPermanent /dk /da
RedirectPermanent /se /sv
RedirectPermanent /us /en
RedirectPermanent /uk /en
RedirectPermanent /gb /en
RedirectPermanent /no /nb



<Files ~ "^apple-touch-icon">
	deny from all
</Files>

<Files "wp-login.php">
        deny from all
</Files>
	
