/*
colors
*/
body {
  font-family: sans-serif;
  background-color: var(--white);
  font-size: 2rem;
}

.header {
  background-color: var(--grey-darker);
  color: var(--grey-lighter);
  font-size: var(--font-sm);
}

.header a {
  color: var(--grey-lighter);
  text-decoration: none;
}
.header__title {
  padding: 0;
  margin: 0;
  line-height: 1;
}
.header__logo {
  text-decoration: none;
  font-size: 10rem;
  color: var(--grey-dark);
  font-family: Georgia, "Times New Roman", Times, serif;
}
