:root {
  --black: black;
  --grey-darkest: #111;
  --grey-darker: #333;
  --grey-dark: #666;
  --grey: #ccc;
  --grey-light: #ddd;
  --grey-lighter: #efefef;
  --grey-lightest: #f9f9f9;
  --white: white;

  --primary: #990d35;
  --primary-dark: #d52941;
  --secondary: #fcce79;
  --secondary-dark: #ffecc1;

  --ok: green;
  --error: red;
  --warning: yellow;

  --hover: blue;

  --headerheight: 6rem;
  --headerheight-mobile: 3rem;
}

/*------------------------------------------------------------------------------ 
  Custon media
    @md 4
    @l 75
    @xl

------------------------------------------------------------------------------*/

@custom-media --medium (min-width: 40rem) and (max-width: 48rem);

@custom-media --small-medium (max-width: 48rem);

@custom-media --large (min-width: 48rem) and (max-width: 75rem);

@custom-media --largexl (min-width: 48rem);

@custom-media --xl (min-width: 75rem);
