:root {
  --black: black;
  --grey-darkest: #111;
  --grey-darker: #333;
  --grey-dark: #666;
  --grey: #ccc;
  --grey-light: #ddd;
  --grey-lighter: #efefef;
  --grey-lightest: #f9f9f9;
  --white: white;

  --primary: #990d35;
  --primary-dark: #d52941;
  --secondary: #fcce79;
  --secondary-dark: #ffecc1;

  --ok: green;
  --error: red;
  --warning: yellow;

  --link: blue;
  --link-hover: blue;

  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-xxl: 1.5rem;
}
